@model  IEnumerable<Remainer.Models.RestaurantLocation>
@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-sm-12">
        <div id="map"></div>
    </div>
</div>

@Html.DisplayNameFor(model => model.IdLocation)
@foreach (var item in Model)
{
    <div>

        <h4>@Html.DisplayFor(modelItem => item.IdLocation) </h4>
        <div>@item.Phone, @item.HoursOfOperation</div>

    </div>
}



