@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-sm-12">
        <div id="map"></div>
    </div>

</div>

@*<div class="row">
    <div class="col-md-4 margin-top-20">
       <a href="#" class="btn btn-primary btn-lg btn-block "><span class="glyphicon glyphicon-circle-arrow-down"> Search</span></a>
      </div>
    <div class="col-md-4 margin-top-20">
        <a href="#" class="btn btn-primary btn-lg btn-block "><span class="glyphicon glyphicon-circle-arrow-down"> Check-in</span></a>
        </div>
    <div class="col-md-4 margin-top-20">
        <a href="#" class="btn btn-primary btn-lg btn-block "><span class="glyphicon glyphicon-circle-arrow-down"> Log-in</span></a>
    </div>

</div>*@
